body {
  background-color: rgb(253, 251, 251);
}
#cabecalho {
  position: fixed;
  top: 0;
}
/* requisito 13 */
#minha_foto {
  margin:auto;
  padding: 0px;
  border-radius:100%;
}
p {
  font-size: 12px;
  color: black;
  line-height: 20px;
  font-family: sans-serif;
}